.row
  %p
    After having tried learning a 3d program for a good few hours, i changed to
    good old programming. My main objective was to create lampshades for our rooms
    but i already have more ideas, now that the framework is done.
    %br
    All pages have some real time controls so you can design your own, and with
    the stl export, print them :-)
    %br
    And if you edit the shapes, you can save the generated parmalink to share or save.
.row
  - all_shades.each do |shade|
    - next if shade == :shade
    - next if shade == :basic_shade
    - texts = send(:"#{shade}_text")
    .tripple
      %h2=texts.first
      .half= texts.last
      .half
        = link_to kolme_d_url(shade) do
          =image_tag "3d/#{shade}.png" , class: :full
  .tripple
    %h2 Numbers (and text)
    .half
      I did some basic number generator for our rooms (keys and such).
      One can change the text but not the font.
    .half
      = link_to kolme_d_url(:numbers) do
        =image_tag "3d/numbers.png" , class: :full
  .tripple
    %h2 A wavy cover
    .half
      Covering up old holes in a nice way. Had to add a suprising amount
      of parameters to get the shape looking the way i wanted
    .half
      = link_to kolme_d_url(:cover) do
        =image_tag "3d/cover.png" , class: :full
