<?xml version="1.0" encoding="ISO-8859-15"?>
<?xml-stylesheet type="text/xsl" href="finvoice.xsl"?>
<Finvoice xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" Version="3.0" xsi:noNamespaceSchemaLocation="Finvoice3.0.xsd">
  <MessageTransmissionDetails>
    <MessageSenderDetails>
      <FromIdentifier SchemeID="0037">003723804781</FromIdentifier>
      <FromIntermediator>MAVENTA</FromIntermediator>
    </MessageSenderDetails>
    <MessageReceiverDetails>
      <ToIdentifier SchemeID="0037">0037<%=@order.vat_id %></ToIdentifier>
      <ToIntermediator><%=@order.cid%></ToIntermediator>
    </MessageReceiverDetails>
    <MessageDetails>
      <MessageIdentifier><%= @order.number %></MessageIdentifier>
      <MessageTimeStamp><%= Time.now.strftime("%Y-%m-%dT%H:%M:%S%:z") %></MessageTimeStamp>
      <ImplementationCode>XX</ImplementationCode>
    </MessageDetails>
  </MessageTransmissionDetails>
  <SellerPartyDetails>
    <SellerPartyIdentifier>2380478-1</SellerPartyIdentifier>
    <SellerOrganisationName>Lightning Raisa &amp; Torsten Oy</SellerOrganisationName>
    <SellerOrganisationTradingName>Auringosta Itään, Kuusta Länteen Tukku - Farfalla</SellerOrganisationTradingName>
    <SellerOrganisationTaxCode>FI23804781</SellerOrganisationTaxCode>
    <SellerPostalAddressDetails>
      <SellerStreetName>Högbenintie 30</SellerStreetName>
      <SellerTownName>Meltola</SellerTownName>
      <SellerPostCodeIdentifier>10350</SellerPostCodeIdentifier>
      <CountryCode>FI</CountryCode>
      <CountryName>Suomi</CountryName>
    </SellerPostalAddressDetails>
  </SellerPartyDetails>
  <SellerInformationDetails>
    <SellerHomeTownName>Meltola</SellerHomeTownName>
    <SellerPhoneNumber>040 146 1222</SellerPhoneNumber>
    <SellerCommonEmailaddressIdentifier>info-at-farfalla.fi</SellerCommonEmailaddressIdentifier>
    <SellerWebaddressIdentifier>www.farfalla.fi</SellerWebaddressIdentifier>
    <SellerAccountDetails>
      <SellerAccountID IdentificationSchemeName="IBAN">FI1017453000132474</SellerAccountID>
      <SellerBic IdentificationSchemeName="BIC">NDEAFIHH</SellerBic>
    </SellerAccountDetails>
  </SellerInformationDetails>
  <InvoiceRecipientCommunicationDetails>
    <InvoiceRecipientEmailaddressIdentifier><%= @order.email %></InvoiceRecipientEmailaddressIdentifier>
  </InvoiceRecipientCommunicationDetails>
  <BuyerPartyDetails>
    <BuyerPartyIdentifier><%=@order.vat_id %></BuyerPartyIdentifier>
    <BuyerOrganisationName><%= @order.name %></BuyerOrganisationName>
    <BuyerOrganisationTradingName><%=@order.name %></BuyerOrganisationTradingName>
    <BuyerOrganisationTaxCode><%=@order.vat_id %></BuyerOrganisationTaxCode>
    <BuyerPostalAddressDetails>
      <BuyerStreetName><%= @order.street %></BuyerStreetName>
      <BuyerTownName><%= @order.city.split.last %></BuyerTownName>
      <BuyerPostCodeIdentifier><%=@order.city.split.first %></BuyerPostCodeIdentifier>
      <CountryCode>FI</CountryCode>
      <CountryName>Finland</CountryName>
    </BuyerPostalAddressDetails>
  </BuyerPartyDetails>
  <BuyerCommunicationDetails>
    <BuyerEmailaddressIdentifier><%= @order.email %></BuyerEmailaddressIdentifier>
  </BuyerCommunicationDetails>
  <InvoiceDetails>
    <InvoiceTypeCode CodeListAgencyIdentifier="SPY">INV01</InvoiceTypeCode>
    <InvoiceTypeCodeUN>380</InvoiceTypeCodeUN>
    <InvoiceTypeText>LASKU</InvoiceTypeText>
    <OriginCode>Original</OriginCode>
    <InvoiceNumber><%= @order.number %></InvoiceNumber>
    <InvoiceDate Format="CCYYMMDD"><%=@order.shipped_on.strftime("%Y%m%d")%></InvoiceDate>
    <OrderIdentifier><%= @order.order_number %></OrderIdentifier>
    <InvoiceTotalVatExcludedAmount AmountCurrencyIdentifier="EUR"><%=
      number_with_comma(@order.total_price - @order.total_tax) %></InvoiceTotalVatExcludedAmount>
    <InvoiceTotalVatAmount AmountCurrencyIdentifier="EUR"><%=
      number_with_comma @order.total_tax %></InvoiceTotalVatAmount>
    <InvoiceTotalVatIncludedAmount AmountCurrencyIdentifier="EUR"><%=
      number_with_comma @order.total_price %></InvoiceTotalVatIncludedAmount>
    <VatSpecificationDetails>
      <VatBaseAmount AmountCurrencyIdentifier="EUR"><%=
        number_with_comma(@order.total_price - @order.total_tax) %></VatBaseAmount>
      <% taxes = @order.taxes ; raise "More than 24%" if taxes.length > 1 %>
      <VatRatePercent><%= number_with_comma taxes.keys.first %></VatRatePercent>
      <VatCode>S</VatCode>
      <VatRateAmount AmountCurrencyIdentifier="EUR"><%=
        number_with_comma taxes.values.first %></VatRateAmount>
      <VatFreeText></VatFreeText>
    </VatSpecificationDetails>
    <InvoiceFreeText><%=@order.message%></InvoiceFreeText>
    <PaymentTermsDetails>
      <PaymentTermsFreeText>14 vrk netto</PaymentTermsFreeText>
      <FreeText>
        <Value>Value</Value>
      </FreeText>
      <InvoiceDueDate Format="CCYYMMDD"><%=
        (@order.shipped_on + 2.weeks).strftime("%Y%m%d") %></InvoiceDueDate>
    </PaymentTermsDetails>
    <TenderReference>TenderReference</TenderReference>
  </InvoiceDetails>
  <% @order.basket.items.each do |item| %>
  <InvoiceRow>
    <ArticleIdentifier><%= item.product.ean %></ArticleIdentifier>
    <ArticleName><%= item.product.name %></ArticleName>
    <InvoicedQuantity QuantityUnitCode="KPL" QuantityUnitCodeUN="C62"><%=
      item.quantity %></InvoicedQuantity>
    <UnitPriceNetAmount AmountCurrencyIdentifier="EUR" QuantityUnitCodeUN="C62"><%=
      number_with_comma item.price %></UnitPriceNetAmount>
    <RowVatRatePercent><%= number_with_comma item.tax %></RowVatRatePercent>
    <RowVatCode>S</RowVatCode>
    <RowVatAmount AmountCurrencyIdentifier="EUR"><%=
      number_with_comma item.tax_amount %></RowVatAmount>
    <RowVatExcludedAmount AmountCurrencyIdentifier="EUR"><%=
      number_with_comma(item.total - item.tax_amount) %></RowVatExcludedAmount>
    <RowAmount AmountCurrencyIdentifier="EUR"><%=
      number_with_comma item.total %></RowAmount>
  </InvoiceRow>
  <% end %>
  <EpiDetails>
    <EpiIdentificationDetails>
      <EpiDate Format="CCYYMMDD"><%=Time.now.strftime("%Y%m%d")%></EpiDate>
      <EpiReference/>
    </EpiIdentificationDetails>
    <EpiPartyDetails>
      <EpiBfiPartyDetails>
        <EpiBfiIdentifier IdentificationSchemeName="BIC">NDEAFIHH</EpiBfiIdentifier>
        <EpiBfiName>Nordea</EpiBfiName>
      </EpiBfiPartyDetails>
      <EpiBeneficiaryPartyDetails>
        <EpiNameAddressDetails>Farfalla.fi </EpiNameAddressDetails>
        <EpiBei>123456789</EpiBei>
        <EpiAccountID IdentificationSchemeName="IBAN">FI1017453000132474</EpiAccountID>
      </EpiBeneficiaryPartyDetails>
    </EpiPartyDetails>
    <EpiPaymentInstructionDetails>
      <EpiRemittanceInfoIdentifier IdentificationSchemeName="SPY"><%=@order.viite%></EpiRemittanceInfoIdentifier>
      <EpiInstructedAmount AmountCurrencyIdentifier="EUR"><%=
        number_with_comma @order.total_price %></EpiInstructedAmount>
      <EpiCharge ChargeOption="SHA">SHA</EpiCharge>
      <EpiDateOptionDate Format="CCYYMMDD"><%= Time.now.strftime("%Y%m%d")%></EpiDateOptionDate>
      <EpiPaymentMeansCode>58</EpiPaymentMeansCode>
    </EpiPaymentInstructionDetails>
  </EpiDetails>
</Finvoice>
