= simple_form_for @order do |f|
  .shipment_start.row
    .col-md-8
      %h4=t(:contact_details)
      = f.input :name , :placeholder => t(:name)
      = f.input :street , :placeholder => t(:street)
      = f.input :city , :placeholder => t(:city)
      = f.input :phone , :placeholder => t(:phone)
      = f.input :email, :placeholder => t(:email)
      = f.input :vat_id, :placeholder => t(:vat_id)
      = f.input :cid, :placeholder => t(:cid)
      %hr
      %button.btn.btn-primary.btn-lg#make_order{:type => "submit"}
        =t(:update)
    .col-md-4
      %h4
        =t(:choose_shipment)
        = @order.shipment_type
      - ShippingMethod.all.each_value do |s|
        -next unless s.available?(@order.basket)
        .radio
          = radio_button_tag "order[shipment_type]" , s.type , s.type.to_s == @order.shipment_type , "data-price" => s.price_for(@order.basket).round(2)
          %b
            = s.name + ":  "
          = s.price_for(@order.basket).round(2)
          €

      %br
      %br
      %br
      %h4
        = t(:order)
        = @order.id_number

      %table.table.table-sm.basket-total
        %thead
          %tr
            %th Tuotteet yhteensä
            %td.text-right
              %span#basket_total= @order.basket.total_price.round(2)
              €
        %tbody
          %tr
            %th Toimituskulut
            %td.text-right
              %span#shipping_cost= @order.shipment_price
              €
          %tr
            %th Tilaus yhteensä
            %th.text-right
              %span#order_total= @order.total_price.round(2)
              €
.sipment_end
