.row.order_show_start
  .col-md-7
    %h2
      = t(:order) + " : " + @order.id_number
      - unless @order.canceled_on.blank?
        = t(:canceled_on) + " : " + date(@order.canceled_on)
  .col-md-3
    %br
      %b= t(:total_price) + " : " + euros(@order.total_price)

.row.order_show_pr
  .col-md-7
    %table.table.table-sm.no-bg.no-border
      %tbody
        %tr
          %td
            %b
              = t(:ordered_on) + " : "
            = date(@order.ordered_on)
          %td
        %tr
          %td
            %b
              = t(:customer)
            = @order.name
            %br
            = @order.street
            = @order.city
            %br
            = link_to @order.email.to_s , search_orders_path( :"q[email_cont]" => @order.email )
            %br
            = @order.phone.to_s

          %td
            %b
              = t(:shipment_type) + " : "
            = @order.shipment_type
            %br
            %br
            = link_to t(:edit) , shipment_order_path(@order) , :class => "btn btn-info btn-sm shipment_type"
            = link_to t(:new) + ' ' + t(:order) , new_order_path( :address => @order.id) , :class => "btn btn-primary btn-sm copy_order"
        %tr
          %td
          %td


  .col-md-5
    %table.table.table-sm.no-bg
      %tbody
        %tr
          %td{ colspan: 2}
            %b= t(:note)
            = in_place @order , :note, :as => :textarea
        %tr
          %td
            %b= t(:message)
            = in_place @order , :message
          %td
            -unless(@order.shipped_on.blank?)
              %b
                = t(:shipped_on) + " : "
              =date(@order.shipped_on)
            -else
              = link_to t(:ship), ship_order_path(@order), :class => "btn btn-info btn-sm ship_now"
        %tr
          %td
            %b= t(:payment_info)
            = in_place @order , :payment_info
          %td
            -unless @order.paid_on.blank?
              %b
                = t(:paid_on) + ":"
              \
              = date(@order.paid_on)
            -else
              - unless(@order.shipped_on.blank?)
                = link_to t(:pay), pay_order_path(@order), :class => "btn btn-info btn-sm pay_now"

.row.order_show_pr
  .col-md-12
    %table.table.table-sm
      %thead
        %tr
          %th= t(:scode)
          %th= t(:name)
          %th= t(:quantity)
          %th= t(:price)
          %th= t(:total)
      %tbody
        - @order.basket.items.each do |item|
          %tr{:class => "line-#{cycle("1","2")}"}
            %td= item.product.scode if item.product
            %td.name= link_to_if item.product, item.name , product_path(item.product)
            %td= item.quantity
            %td= euros item.price
            %td= item.total
        %tr
          %td
          %td
          %td
            %b= @order.basket.quantity
          %td
          %td
            %b= euros @order.basket.total_price
        %tr
          %td
          %td
          %td
            %b= t(:total_tax) + " : "
          %td
          %td
            %b= euros(@order.total_tax)
        %tr
          %td
          %td
          %td
            %b= t(:shipment_price) + " : "
          %td
          %td
            %b= euros(@order.shipment_price)
        %tr
          %td
          %td
          %td
            %b= t(:total_price) + " : "
          %td
          %td
            %b= euros(@order.total_price)

.row.order_show_noprint
  %br

  .col-md-5
    %b= t(:order_actions)
    %br

    = link_to t(:back), orders_path, :class => "btn btn-sm btn-warning"
    \ 
    = link_to t(:edit), edit_basket_path(@order.basket), :class => "btn btn-info btn-sm edit_basket" unless @order.basket.locked?
    \ 
    = link_to t(:cancel), cancel_order_path(@order), :data =>{:confirm => t(:cancel_confirmation )} , :class => "btn btn-danger btn-sm cancel_order" if @order.basket.locked?
    \ 
    = link_to t(:destroy) , order_path(@order), :data => {:confirm => t(:are_you_sure )}, :method => :delete, :title => t(:destroy) , :class => "btn btn-danger btn-sm" if @order.shipped_on.nil? and @order.paid_on.nil?
    \ 
    - if @order.order_number.blank? && !@order.basket.locked?
      = link_to t(:deduct_only), deduct_only_order_path(@order), :class => "btn btn-info btn-sm ship_now"

  .col-md-2
  .col-md-5
    %b= t(:order_mail)
    %br
    - mail_actions.each do |action|
      = link_to t("order_button.#{action}") , mail_order_path( @order , :act => action) , :class => "btn btn-info btn-sm"
      \ 


.row.order_show_noprint
  %br
  .col-md-12
    %br
    \
    %b= t(:order_print)
    .order_show_back
      - print_styles.each do |style|
        = link_to t("#{style}.header") , print_path(style), :class => "btn btn-primary btn-sm"
      = link_to t("finvoice.header") , finvoice_order_path(@order , :num => @order.number), :class => "btn btn-primary btn-sm"

  %br
  %br
.order_show_end
